html, body {
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
    position:relative;
}
.map-content{
    background: #ff0000;
    width: 100%;
    height: 100%;
    position:absolute;
}
